@font-face {
  font-family: Sherwood;
  src: url('../assets/fonts/SHERWOOD.TTF');
}
body {
  background-image: url('../assets/images/background.jpeg');
  background-size: cover;
  color: white;
  font-size: 20px;
}

h1{
  font-family: Sherwood;
  color: white;
}

.main-container {
  background-color: rgba(169, 169, 169, .8);
  min-height: 100dvh;
  backdrop-filter: blur(15px);
}
